.html
{
	background: #7F7F7F url("../images/dirtypaper-2.jpg") no-repeat center center fixed;
  background-size: 100% 100%;

}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 577.8274129064268px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#pu1152
{
	width: 0.01px;
	margin-left: 836px;
	position: relative;
}

#u1152
{
	z-index: 4;
	width: 45px;
	margin-right: -10000px;
}

#u1156
{
	z-index: 6;
	width: 44px;
	margin-right: -10000px;
	left: 65px;
}

#u1156_clip
{
	width: 44px;
	height: 31px;
}

#u1156_img
{
	margin-bottom: -1px;
}

#pu1154
{
	width: 0.01px;
	margin-left: 108px;
	margin-top: 1px;
	position: relative;
}

#u1154
{
	z-index: 2;
	width: 196px;
	margin-right: -10000px;
	left: 274px;
}

#u1209
{
	z-index: 16;
	width: 134px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 147px;
}

#u1210
{
	z-index: 17;
	width: 102px;
	margin-left: 16px;
}

#u1212-4
{
	z-index: 19;
	margin-top: 9px;
}

#u1205
{
	z-index: 23;
	width: 111px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 469px;
}

#u1207
{
	z-index: 24;
	width: 111px;
}

#u1206-4
{
	z-index: 26;
}

#u1214
{
	z-index: 30;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 7px;
}

#u1216
{
	z-index: 31;
	width: 101px;
	margin-left: 2px;
}

#u1210_img,#u1207_img,#u1216_img
{
	padding-right: 1px;
}

#u1215-4
{
	z-index: 33;
	margin-top: 10px;
}

#u1218
{
	z-index: 37;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 613px;
}

#u1219
{
	z-index: 38;
	width: 104px;
	margin-left: 1px;
}

#u1221-5
{
	z-index: 40;
	margin-top: 6px;
}

#u2965
{
	z-index: 45;
	width: 749px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u2956
{
	z-index: 46;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
}

#u2958
{
	z-index: 47;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
	left: 151px;
}

#u2960
{
	z-index: 48;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
	left: 303px;
}

#u2962
{
	z-index: 49;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
	left: 454px;
}

#u2964
{
	z-index: 50;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
	left: 605px;
}

#ppu2760-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 93px;
	position: relative;
}

#pu2760-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
}

#u2760-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
}

#pu2821
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 12px;
	position: relative;
}

#u2821
{
	z-index: 193;
	width: 43px;
	position: relative;
	margin-right: -10000px;
}

#u2823
{
	z-index: 195;
	width: 44px;
	position: relative;
	margin-right: -10000px;
	left: 67px;
}

#u2821_img,#u2823_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u2761-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	margin-top: 83px;
	position: relative;
}

#u2815
{
	z-index: 179;
	width: 370px;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#u2817-3
{
	z-index: 181;
	width: 223px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 296px;
}

#u2818-3
{
	z-index: 184;
	width: 223px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 296px;
}

#u2819-3
{
	z-index: 187;
	width: 105px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 296px;
}

#u2820-3
{
	z-index: 190;
	width: 223px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 296px;
}

#pamphletu2762
{
	z-index: 59;
	width: 0.01px;
	height: 531px;
	padding-bottom: 236px;
	margin-left: 20px;
	position: relative;
}

#u2799
{
	position: absolute;
	width: 710px;
	left: 212px;
}

#u2799popup
{
	z-index: 60;
}

#u2809
{
	z-index: 61;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2800
{
	z-index: 62;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2807
{
	z-index: 63;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2810
{
	z-index: 64;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2812
{
	z-index: 65;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2805
{
	z-index: 66;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2803
{
	z-index: 67;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2802
{
	z-index: 68;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2801
{
	z-index: 69;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2804
{
	z-index: 70;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2806
{
	z-index: 71;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2811
{
	z-index: 72;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2808
{
	z-index: 73;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2770
{
	z-index: 74;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 12px;
}

#pu2779
{
	position: absolute;
	width: 0.01px;
	left: -12px;
}

#u2779
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2779:hover #u2779
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2780-4
{
	z-index: 77;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2779:hover #u2780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2779:hover #u2780-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2787
{
	position: absolute;
	width: 0.01px;
	top: 39px;
	left: -12px;
}

#u2787
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2787:hover #u2787
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2788-4
{
	z-index: 85;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2787:hover #u2788-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2787:hover #u2788-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2773
{
	position: absolute;
	width: 0.01px;
	top: 80px;
	left: -12px;
}

#u2773
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2773:hover #u2773
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2774-4
{
	z-index: 93;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2773:hover #u2774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2773:hover #u2774-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2775
{
	position: absolute;
	width: 0.01px;
	top: 120px;
	left: -12px;
}

#u2775
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2775:hover #u2775
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2776-4
{
	z-index: 101;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2775:hover #u2776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2775:hover #u2776-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2771
{
	position: absolute;
	width: 0.01px;
	top: 159px;
	left: -12px;
}

#u2771
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2771:hover #u2771
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2772-4
{
	z-index: 109;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2771:hover #u2772-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2771:hover #u2772-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2793
{
	position: absolute;
	width: 0.01px;
	top: 199px;
	left: -12px;
}

#u2793
{
	position: absolute;
	width: 200px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2793:hover #u2793
{
	width: 199px;
	height: 30px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2794-4
{
	z-index: 117;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2793:hover #u2794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2793:hover #u2794-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2789
{
	position: absolute;
	width: 0.01px;
	top: 240px;
	left: -12px;
}

#u2789
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2789:hover #u2789
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2790-4
{
	z-index: 125;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2789:hover #u2790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2789:hover #u2790-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2785
{
	position: absolute;
	width: 0.01px;
	top: 280px;
	left: -12px;
}

#u2785
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2785:hover #u2785
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2786-4
{
	z-index: 133;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2785:hover #u2786-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2785:hover #u2786-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2795
{
	position: absolute;
	width: 0.01px;
	top: 320px;
	left: -12px;
}

#u2795
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2795:hover #u2795
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2796-4
{
	z-index: 141;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2795:hover #u2796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2795:hover #u2796-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2783
{
	position: absolute;
	width: 0.01px;
	top: 359px;
	left: -12px;
}

#u2783
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2783:hover #u2783
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2784-4
{
	z-index: 149;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2783:hover #u2784-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2783:hover #u2784-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2777
{
	position: absolute;
	width: 0.01px;
	top: 400px;
	left: -12px;
}

#u2777
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2777:hover #u2777
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2778-4
{
	z-index: 157;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2777:hover #u2778-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2777:hover #u2778-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2781
{
	position: absolute;
	width: 0.01px;
	top: 440px;
	left: -12px;
}

#u2781
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2781:hover #u2781
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2779.PamphletThumbSelected #u2779,#pu2787.PamphletThumbSelected #u2787,#pu2773.PamphletThumbSelected #u2773,#pu2775.PamphletThumbSelected #u2775,#pu2771.PamphletThumbSelected #u2771,#pu2789.PamphletThumbSelected #u2789,#pu2785.PamphletThumbSelected #u2785,#pu2795.PamphletThumbSelected #u2795,#pu2783.PamphletThumbSelected #u2783,#pu2777.PamphletThumbSelected #u2777,#pu2781.PamphletThumbSelected #u2781
{
	width: 200px;
	height: 30px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u2782-4
{
	z-index: 165;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2781:hover #u2782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2779.PamphletThumbSelected #u2780-4,#pu2787.PamphletThumbSelected #u2788-4,#pu2773.PamphletThumbSelected #u2774-4,#pu2775.PamphletThumbSelected #u2776-4,#pu2771.PamphletThumbSelected #u2772-4,#pu2793.PamphletThumbSelected #u2794-4,#pu2789.PamphletThumbSelected #u2790-4,#pu2785.PamphletThumbSelected #u2786-4,#pu2795.PamphletThumbSelected #u2796-4,#pu2783.PamphletThumbSelected #u2784-4,#pu2777.PamphletThumbSelected #u2778-4,#pu2781.PamphletThumbSelected #u2782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	left: 12px;
	min-height: 30px;
}

#pu2781:hover #u2782-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2780-2,#u2788-2,#u2774-2,#u2776-2,#u2772-2,#u2794-2,#u2790-2,#u2786-2,#u2796-2,#u2784-2,#u2782-2
{
	padding-top: 5px;
}

#pu2779 #u2780-4,#pu2787 #u2788-4,#pu2773 #u2774-4,#pu2775 #u2776-4,#pu2771 #u2772-4,#pu2793 #u2794-4,#pu2789 #u2790-4,#pu2785 #u2786-4,#pu2795 #u2796-4,#pu2783 #u2784-4,#pu2777 #u2778-4,#pu2781 #u2782-4
{
	position: relative;
	width: 180px;
	margin-right: -10000px;
	left: 12px;
}

#pu2791
{
	position: absolute;
	width: 0.01px;
	top: 479px;
	left: -12px;
}

#u2791
{
	position: absolute;
	width: 200px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2791:hover #u2791
{
	width: 199px;
	height: 30px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2793.PamphletThumbSelected #u2793,#pu2791.PamphletThumbSelected #u2791
{
	width: 200px;
	height: 31px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u2792-4
{
	z-index: 173;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2791:hover #u2792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	left: 11px;
	min-height: 30px;
}

#pu2791.PamphletThumbSelected #u2792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 12px;
	min-height: 30px;
}

#pu2791:hover #u2792-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2779.PamphletThumbSelected #u2780-4 p,#pu2787.PamphletThumbSelected #u2788-4 p,#pu2773.PamphletThumbSelected #u2774-4 p,#pu2775.PamphletThumbSelected #u2776-4 p,#pu2771.PamphletThumbSelected #u2772-4 p,#pu2793.PamphletThumbSelected #u2794-4 p,#pu2789.PamphletThumbSelected #u2790-4 p,#pu2785.PamphletThumbSelected #u2786-4 p,#pu2795.PamphletThumbSelected #u2796-4 p,#pu2783.PamphletThumbSelected #u2784-4 p,#pu2777.PamphletThumbSelected #u2778-4 p,#pu2781.PamphletThumbSelected #u2782-4 p,#pu2791.PamphletThumbSelected #u2792-4 p
{
	color: #000000;
	visibility: inherit;
	line-height: 1.4;
	text-align: center;
	padding-top: 4px;
	letter-spacing: 0px;
}

#pu2791 #u2792-4
{
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 12px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1213-8
{
	z-index: 8;
	width: 485px;
	min-height: 32px;
	margin-left: 253px;
	margin-top: 86px;
}

body
{
	padding-top: 38px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

