.html
{
  background: #7F7F7F url("../images/dirtypaper-2.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 578px;
	margin-left: auto;
	margin-right: auto;
}

#pu1152
{
	width: 0.01px;
	margin-left: 836px;
	position: relative;
}

#u1152
{
	z-index: 4;
	width: 45px;
	margin-right: -10000px;
}

#u1156
{
	z-index: 6;
	width: 44px;
	margin-right: -10000px;
	left: 65px;
}

#u1156_clip
{
	width: 44px;
	height: 31px;
}

#u1156_img
{
	margin-bottom: -1px;
}

#pu1154
{
	width: 0.01px;
	margin-left: 108px;
	margin-top: 1px;
	position: relative;
}

#u1154
{
	z-index: 2;
	width: 196px;
	margin-right: -10000px;
	left: 274px;
}

#u1209
{
	z-index: 16;
	width: 134px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 147px;
}

#u1210
{
	z-index: 17;
	width: 102px;
	margin-left: 16px;
}

#u1212-4
{
	z-index: 19;
	margin-top: 9px;
}

#u1205
{
	z-index: 23;
	width: 111px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 469px;
}

#u1207
{
	z-index: 24;
	width: 111px;
}

#u1206-4
{
	z-index: 26;
}

#u1214
{
	z-index: 30;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 7px;
}

#u1216
{
	z-index: 31;
	width: 101px;
	margin-left: 2px;
}

#u1210_img,#u1207_img,#u1216_img
{
	padding-right: 1px;
}

#u1215-4
{
	z-index: 33;
	margin-top: 10px;
}

#u1218
{
	z-index: 37;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 613px;
}

#u1219
{
	z-index: 38;
	width: 104px;
	margin-left: 1px;
}

#u1221-5
{
	z-index: 40;
	margin-top: 6px;
}

#u2965
{
	z-index: 45;
	width: 749px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u2956
{
	z-index: 46;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
}

#u2958
{
	z-index: 47;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
	left: 151px;
}

#u2960
{
	z-index: 48;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
	left: 303px;
}

#u2962
{
	z-index: 49;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
	left: 454px;
}

#u2964
{
	z-index: 50;
	width: 144px;
	height: 160px;
	margin-right: -10000px;
	left: 605px;
}

#u1462-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	margin-left: 310px;
	margin-top: 145px;
	position: relative;
}

#u1461-7
{
	z-index: 51;
	width: 392px;
	min-height: 215px;
	text-align: justify;
	margin-left: 290px;
	margin-top: 29px;
	position: relative;
}

#u1213-8
{
	z-index: 8;
	width: 485px;
	min-height: 32px;
	margin-left: 253px;
	margin-top: 151px;
}

body
{
	padding-top: 38px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

