.html
{
	background: #7F7F7F url("../images/dirtypaper-2.jpg") no-repeat center center fixed;
  background-size: 100% 100%;

}

#page
{
	z-index: 1;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -200px;
}

#pu384
{
	width: 0.01px;
	margin-left: 836px;
	position: relative;
}

#u384
{
	z-index: 4;
	width: 45px;
	margin-right: -10000px;
}

#u391
{
	z-index: 6;
	width: 46px;
	margin-right: -10000px;
	left: 66px;
}

#u391_img
{
	padding-bottom: 1px;
}

#pu241
{
	width: 0.01px;
	margin-left: 115px;
	position: relative;
}

#u241
{
	z-index: 2;
	width: 196px;
	margin-right: -10000px;
	left: 267px;
}

#u1132
{
	z-index: 16;
	width: 134px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 140px;
}

#u1103
{
	z-index: 17;
	width: 102px;
	margin-left: 16px;
}

#u1127-4
{
	z-index: 19;
  margin-top: 9px;
}

#u1133
{
	z-index: 23;
	width: 111px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 462px;
}

#u1108
{
	z-index: 24;
	width: 111px;
}

#u1128-4
{
	z-index: 26;
}

#u1131
{
	z-index: 30;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1098
{
	z-index: 31;
	width: 101px;
	margin-left: 2px;
}

#u1103_img,#u1108_img,#u1098_img
{
	padding-right: 1px;
}

#u1124-4
{
	z-index: 33;
	top: 10px;
	margin-bottom: -3px;
}

#u1134
{
	z-index: 37;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 606px;
}

#u1113
{
	z-index: 38;
	width: 104px;
	margin-left: 1px;
}

#u1129-4
{
	z-index: 40;
	margin-top: 6px;
}

#u2955
{
	z-index: 44;
	width: 728px;
	margin-right: -10000px;
	margin-top: 30px;
}

#u2911
{
	z-index: 45;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
}

#u2912
{
	z-index: 47;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 147px;
}

#u2915
{
	z-index: 46;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 294px;
}

#u2916
{
	z-index: 48;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 441px;
}

#u2918
{
	z-index: 49;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 588px;
}

#ppu456-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 94px;
	position: relative;
}

#pu456-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
}

#u456-4
{
	z-index: 50;
	width: 146px;
	min-height: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#pu2748
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 12px;
	position: relative;
}

#u2748
{
	z-index: 194;
	width: 43px;
	position: relative;
	margin-right: -10000px;
}

#u2753
{
	z-index: 196;
	width: 44px;
	position: relative;
	margin-right: -10000px;
	left: 67px;
}

#u2748_img,#u2753_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u472-4
{
	z-index: 54;
	width: 167px;
	min-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 83px;
	position: relative;
}

#u2110
{
	z-index: 180;
	width: 370px;
	position: relative;
	margin-right: -10000px;
	left: 197px;
  overflow: visible;
}

#pamphletu1995
{
	z-index: 60;
	width: 0.01px;
	height: 300px;
	padding-bottom: 236px;
	margin-left: 20px;
	margin-top: 1px;
	position: relative;
}

.wine-table-container
{
  position: absolute;
  width: 710px;
  width: 710px;
  height: 767px;
  margin-right: -10000px;
  background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
  background-size: cover !important;
  padding: 40px 20px;
}

.region-list
{
	z-index: 75;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 12px;
}

.wine-region
{
  width: 200px;
  height: 32px;
  background-color: transparent;
  color: #C1272D;
  line-height: 20px;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  display: block;
  cursor: pointer;
}

.wine-region:hover
{
  text-decoration: none;
  color: #C1272D;
}

.region-list .active
{
  margin-left: 60px;
  color: #000000;
}

#pu481
{
	width: 0.01px;
	left: -88px;
	margin-top: 97px;
	position: relative;
}

#u481
{
	z-index: 58;
	width: 298px;
	position: relative;
	margin-right: -10000px;
  overflow: visible;
}

#u731-8
{
	z-index: 8;
	width: 485px;
	min-height: 32px;
	margin-right: -10000px;
	left: 327px;
  margin-bottom: 36px;
}

body
{
	padding-top: 38px;
}

#page .verticalspacer
{
	clear: both;
}

form.search-form {
  border: 2px solid #b9a688;
  width: 290px;
  height: 165px;
  margin: 20px;
  padding: 20px;
}

form.search-form > div.title {
  height: 32px;
}

form.search-form > div.title span {
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  font-size: 18px;
  font-weight: 700;
  -webkit-text-size-adjust: none;
}


form.search-form > div.field {
  height: 25px;
}

form.search-form > div.field span {
  width: 85px;
  display: inline-block;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  font-size: 12px;
  font-weight: 700;
  -webkit-text-size-adjust: none;
}

form.search-form > div.field input,
form.search-form > div.field select {
  border: 1px solid #b9a688;
  height: 22px;
  width: 200px;
  box-sizing: border-box;
}

form.search-form > div.button {
  padding-left: 35px;
  margin-top: 5px;
}

form.search-form > div.button button {
  background: #b91022;
  height: 20px;
  line-height: 20px;
  color: #dbdbdb;
  width: 80px;
  margin: 10px;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u481_img {
  margin-top: -200px;
}
