.html
{
	background: #7F7F7F url("../images/dirtypaper-2.jpg") no-repeat center center fixed;
  background-size: 100% 100%;

}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 578px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
}

#pu384
{
	width: 0.01px;
	margin-left: 836px;
	position: relative;
}

#u384
{
	z-index: 4;
	width: 45px;
	margin-right: -10000px;
}

#u391
{
	z-index: 6;
	width: 46px;
	margin-right: -10000px;
	left: 66px;
}

#pu241
{
	width: 0.01px;
	margin-left: 115px;
	position: relative;
}

#u241
{
	z-index: 2;
	width: 196px;
	margin-right: -10000px;
	left: 267px;
}

#u1132
{
	z-index: 16;
	width: 134px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 140px;
}

#u1103
{
	z-index: 17;
	width: 102px;
	margin-left: 16px;
}

#u1127-4
{
	z-index: 19;
	top: -5px;
	margin-bottom: -5px;
}

#u1133
{
	z-index: 23;
	width: 111px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 462px;
}

#u1108
{
	z-index: 24;
	width: 111px;
}

#u1128-4
{
	z-index: 26;
	top: -12px;
	margin-bottom: -12px;
}

#u1131
{
	z-index: 30;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1098
{
	z-index: 31;
	width: 101px;
	margin-left: 2px;
}

#u1103_img,#u1108_img,#u1098_img
{
	padding-right: 1px;
}

#u1124-4
{
	z-index: 33;
	top: -3px;
	margin-bottom: -3px;
}

#u1134
{
	z-index: 37;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 606px;
}

#u1113
{
	z-index: 38;
	width: 104px;
	margin-left: 1px;
}

#u1129-4
{
	z-index: 40;
	margin-top: 1px;
}

#u2955
{
	z-index: 44;
	width: 728px;
	margin-right: -10000px;
	margin-top: 30px;
}

#u2911
{
	z-index: 45;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
}

#u2912
{
	z-index: 47;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 147px;
}

#u2915
{
	z-index: 46;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 294px;
}

#u2916
{
	z-index: 48;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 441px;
}

#u2918
{
	z-index: 49;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 588px;
}

#pu2469
{
	width: 0.01px;
	margin-left: 269px;
	margin-top: 109px;
	position: relative;
}

#u2469
{
	z-index: 50;
	width: 218px;
	position: relative;
	margin-right: -10000px;
}

#u2454
{
	z-index: 51;
	width: 218px;
	position: relative;
	margin-right: -10000px;
}

#u391_img,#u2454_img
{
	padding-bottom: 1px;
}

#u2466-4
{
	z-index: 53;
	width: 150px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 34px;
}

#u2470
{
	z-index: 57;
	width: 207px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 218px;
}

#u2459
{
	z-index: 58;
	width: 207px;
	position: relative;
	margin-right: -10000px;
}

#u2468-4
{
	z-index: 60;
	width: 150px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 29px;
}

#u2466-2,#u2468-2
{
	font-size: 16px;
	line-height: 22px;
}

#u731-8
{
	z-index: 8;
	width: 485px;
	min-height: 32px;
	margin-left: 238px;
	margin-top: 216px;
}

body
{
	padding-top: 38px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

