#u2544
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
}

#pu2544:hover #u2544
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pu2544:active #u2544
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u2545-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2544:hover #u2545-4
{
	border-style: none;
	border-color: transparent;
	position: relative;
}

#pu2544:active #u2545-4
{
	border-style: none;
	border-color: transparent;
	position: relative;
}

#pu2544:hover #u2545-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2544:active #u2545-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2540
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
}

#pu2540:hover #u2540
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pu2540:active #u2540
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u2541-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2544.PamphletThumbSelected #u2545-4,#pu2540:hover #u2541-4
{
	border-style: none;
	border-color: transparent;
	position: relative;
}

#pamphletu2533,#u2539,#pu2544 #u2545-4,#pu2540:active #u2541-4
{
	position: relative;
}

#pu2540:hover #u2541-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2540:active #u2541-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2550
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
}

#pu2550:hover #u2550
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pu2550:active #u2550
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u2551-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2550:hover #u2551-4
{
	border-color: #999999;
	position: relative;
}

#pu2550:active #u2551-4
{
	border-color: #999999;
	position: relative;
}

#pu2550:hover #u2551-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2550:active #u2551-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2546
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
}

#pu2546:hover #u2546
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pu2546:active #u2546
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u2547-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2546:hover #u2547-4
{
	border-color: #999999;
	position: relative;
}

#pu2546:active #u2547-4
{
	border-color: #999999;
	position: relative;
}

#pu2546:hover #u2547-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2546:active #u2547-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2548
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
}

#pu2548:hover #u2548
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pu2548:active #u2548
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u2549-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2548:hover #u2549-4
{
	border-color: #999999;
	position: relative;
}

#pu2548:active #u2549-4
{
	border-color: #999999;
	position: relative;
}

#pu2548:hover #u2549-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2548:active #u2549-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2542
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
}

#pu2542:hover #u2542
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pu2542:active #u2542
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pu2544.PamphletThumbSelected #u2544,#pu2540.PamphletThumbSelected #u2540,#pu2550.PamphletThumbSelected #u2550,#pu2546.PamphletThumbSelected #u2546,#pu2548.PamphletThumbSelected #u2548,#pu2542.PamphletThumbSelected #u2542
{
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u2543-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	color: #C4C4C4;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2542:hover #u2543-4
{
	border-color: #999999;
	position: relative;
}

#pu2542:active #u2543-4
{
	border-color: #999999;
	position: relative;
}

#pu2550.PamphletThumbSelected #u2551-4,#pu2546.PamphletThumbSelected #u2547-4,#pu2548.PamphletThumbSelected #u2549-4,#pu2542.PamphletThumbSelected #u2543-4
{
	border-style: none;
	border-color: transparent;
	position: relative;
}

#pu2542:hover #u2543-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2542:active #u2543-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu2544.PamphletThumbSelected #u2545-4 p,#pu2540.PamphletThumbSelected #u2541-4 p,#pu2550.PamphletThumbSelected #u2551-4 p,#pu2546.PamphletThumbSelected #u2547-4 p,#pu2548.PamphletThumbSelected #u2549-4 p,#pu2542.PamphletThumbSelected #u2543-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2552
{
	position: absolute;
}

#u2578,#u2568,#u2563,#u2573,#u2553,#u2558
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #6B6B6B url("../images/background%20image.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2582-13,#u2572-13,#u2567-13,#u2574-13,#u2557-11,#u2562-13
{
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2582-2,#u2582-4,#u2572-2,#u2572-4,#u2567-2,#u2567-4,#u2574-2,#u2574-4,#u2557-2,#u2562-2,#u2562-4
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u2582-5,#u2572-5,#u2567-5,#u2574-5,#u2557-3,#u2562-5
{
	line-height: 20px;
}

#u2582-7,#u2582-9,#u2582-11,#u2572-7,#u2572-9,#u2572-11,#u2567-7,#u2567-9,#u2567-11,#u2574-7,#u2574-9,#u2574-11,#u2557-5,#u2557-7,#u2557-9,#u2562-7,#u2562-9,#u2562-11
{
	font-size: 12px;
	line-height: 17px;
}

#u2579-4,#u2569-4,#u2564-4,#u2575-4,#u2556-4,#u2561-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu2540.PamphletThumbSelected #u2541-4,#pu2540 #u2541-4,#pu2550 #u2551-4,#pu2546 #u2547-4,#pu2548 #u2549-4,#pu2542 #u2543-4,#u2580,#u2570,#u2565,#u2576,#u2554,#u2559,#u2589,#u2590,#u2592-4,#u2593,#u2595,#u2594-4
{
	position: relative;
}

#u2592-4_img,#u2594-4_img
{
	display: block;
	vertical-align: top;
}

