.html
{
	background: #7F7F7F url("../images/dirtypaper-2.jpg") no-repeat center center fixed;
  background-size: 100% 100%;

}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1462.6549868766401px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -200px;
}

#pu384
{
	width: 0.01px;
	margin-left: 836px;
	position: relative;
}

#u384
{
	z-index: 4;
	width: 45px;
	margin-right: -10000px;
}

#u391
{
	z-index: 6;
	width: 46px;
	margin-right: -10000px;
	left: 66px;
}

#u391_img
{
	padding-bottom: 1px;
}

#pu241
{
	width: 0.01px;
	margin-left: 115px;
	position: relative;
}

#u241
{
	z-index: 2;
	width: 196px;
	margin-right: -10000px;
	left: 267px;
}

#u1132
{
	z-index: 16;
	width: 134px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 140px;
}

#u1103
{
	z-index: 17;
	width: 102px;
	margin-left: 16px;
}

#u1127-4
{
	z-index: 19;
	top: -5px;
	margin-bottom: -5px;
}

#u1133
{
	z-index: 23;
	width: 111px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 462px;
}

#u1108
{
	z-index: 24;
	width: 111px;
}

#u1128-4
{
	z-index: 26;
	top: -12px;
	margin-bottom: -12px;
}

#u1131
{
	z-index: 30;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1098
{
	z-index: 31;
	width: 101px;
	margin-left: 2px;
}

#u1103_img,#u1108_img,#u1098_img
{
	padding-right: 1px;
}

#u1124-4
{
	z-index: 33;
	top: -3px;
	margin-bottom: -3px;
}

#u1134
{
	z-index: 37;
	width: 105px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 606px;
}

#u1113
{
	z-index: 38;
	width: 104px;
	margin-left: 1px;
}

#u1129-4
{
	z-index: 40;
	margin-top: 1px;
}

#u2955
{
	z-index: 44;
	width: 728px;
	margin-right: -10000px;
	margin-top: 30px;
}

#u2911
{
	z-index: 45;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
}

#u2912
{
	z-index: 47;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 147px;
}

#u2915
{
	z-index: 46;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 294px;
}

#u2916
{
	z-index: 48;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 441px;
}

#u2918
{
	z-index: 49;
	width: 140px;
	height: 142px;
	margin-right: -10000px;
	left: 588px;
}

#ppu456-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 94px;
	position: relative;
}

#pu456-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
}

#u456-4
{
	z-index: 50;
	width: 146px;
	min-height: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#pu2748
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 12px;
	position: relative;
}

#u2748
{
	z-index: 194;
	width: 43px;
	position: relative;
	margin-right: -10000px;
}

#u2753
{
	z-index: 196;
	width: 44px;
	position: relative;
	margin-right: -10000px;
	left: 67px;
}

#u2748_img,#u2753_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u472-4
{
	z-index: 54;
	width: 167px;
	min-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 83px;
	position: relative;
}

#u2110
{
	z-index: 180;
	width: 370px;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#u2193-3
{
	z-index: 182;
	width: 223px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 296px;
}

#u2195-3
{
	z-index: 185;
	width: 223px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 296px;
}

#u2197-3
{
	z-index: 188;
	width: 105px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 296px;
}

#u2199-3
{
	z-index: 191;
	width: 223px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 296px;
}

#pamphletu1995
{
	z-index: 60;
	width: 0.01px;
	height: 531px;
	padding-bottom: 236px;
	margin-left: 20px;
	margin-top: 1px;
	position: relative;
}

#u2007
{
	position: absolute;
	width: 710px;
	left: 212px;
}

#u2007popup
{
	z-index: 61;
}

#u2018
{
	z-index: 62;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2013
{
	z-index: 63;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2008
{
	z-index: 64;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2047
{
	z-index: 65;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2055
{
	z-index: 66;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2057
{
	z-index: 67;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2059
{
	z-index: 68;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2061
{
	z-index: 69;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2063
{
	z-index: 70;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2065
{
	z-index: 71;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2067
{
	z-index: 72;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2069
{
	z-index: 73;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2071
{
	z-index: 74;
	width: 710px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/free-paper-texture-2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1998
{
	z-index: 75;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 12px;
}

#pu2003
{
	position: absolute;
	width: 0.01px;
	left: -12px;
}

#u2003
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2003:hover #u2003
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2004-4
{
	z-index: 78;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2003:hover #u2004-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2003:hover #u2004-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2001
{
	position: absolute;
	width: 0.01px;
	top: 39px;
	left: -12px;
}

#u2001
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2001:hover #u2001
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2074-4
{
	z-index: 86;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2001:hover #u2074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2001:hover #u2074-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu1999
{
	position: absolute;
	width: 0.01px;
	top: 80px;
	left: -12px;
}

#u1999
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu1999:hover #u1999
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2076-4
{
	z-index: 94;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu1999:hover #u2076-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu1999:hover #u2076-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2053
{
	position: absolute;
	width: 0.01px;
	top: 120px;
	left: -12px;
}

#u2053
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2053:hover #u2053
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2078-4
{
	z-index: 102;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2053:hover #u2078-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2053:hover #u2078-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2056
{
	position: absolute;
	width: 0.01px;
	top: 159px;
	left: -12px;
}

#u2056
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2056:hover #u2056
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2080-4
{
	z-index: 110;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2056:hover #u2080-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2056:hover #u2080-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2058
{
	position: absolute;
	width: 0.01px;
	top: 199px;
	left: -12px;
}

#u2058
{
	position: absolute;
	width: 200px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2058:hover #u2058
{
	width: 199px;
	height: 30px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2082-4
{
	z-index: 118;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2058:hover #u2082-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2058:hover #u2082-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2060
{
	position: absolute;
	width: 0.01px;
	top: 240px;
	left: -12px;
}

#u2060
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2060:hover #u2060
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2084-4
{
	z-index: 126;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2060:hover #u2084-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2060:hover #u2084-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2062
{
	position: absolute;
	width: 0.01px;
	top: 280px;
	left: -12px;
}

#u2062
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2062:hover #u2062
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2086-4
{
	z-index: 134;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2062:hover #u2086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2062:hover #u2086-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2064
{
	position: absolute;
	width: 0.01px;
	top: 320px;
	left: -12px;
}

#u2064
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2064:hover #u2064
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2088-4
{
	z-index: 142;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2064:hover #u2088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2064:hover #u2088-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2066
{
	position: absolute;
	width: 0.01px;
	top: 359px;
	left: -12px;
}

#u2066
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2066:hover #u2066
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2090-4
{
	z-index: 150;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2066:hover #u2090-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2066:hover #u2090-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2068
{
	position: absolute;
	width: 0.01px;
	top: 400px;
	left: -12px;
}

#u2068
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2068:hover #u2068
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2092-4
{
	z-index: 158;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2068:hover #u2092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2068:hover #u2092-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2070
{
	position: absolute;
	width: 0.01px;
	top: 440px;
	left: -12px;
}

#u2070
{
	position: absolute;
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2070:hover #u2070
{
	width: 199px;
	height: 29px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2003.PamphletThumbSelected #u2003,#pu2001.PamphletThumbSelected #u2001,#pu1999.PamphletThumbSelected #u1999,#pu2053.PamphletThumbSelected #u2053,#pu2056.PamphletThumbSelected #u2056,#pu2060.PamphletThumbSelected #u2060,#pu2062.PamphletThumbSelected #u2062,#pu2064.PamphletThumbSelected #u2064,#pu2066.PamphletThumbSelected #u2066,#pu2068.PamphletThumbSelected #u2068,#pu2070.PamphletThumbSelected #u2070
{
	width: 200px;
	height: 30px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u2094-4
{
	z-index: 166;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2070:hover #u2094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
	min-height: 30px;
}

#pu2003.PamphletThumbSelected #u2004-4,#pu2001.PamphletThumbSelected #u2074-4,#pu1999.PamphletThumbSelected #u2076-4,#pu2053.PamphletThumbSelected #u2078-4,#pu2056.PamphletThumbSelected #u2080-4,#pu2058.PamphletThumbSelected #u2082-4,#pu2060.PamphletThumbSelected #u2084-4,#pu2062.PamphletThumbSelected #u2086-4,#pu2064.PamphletThumbSelected #u2088-4,#pu2066.PamphletThumbSelected #u2090-4,#pu2068.PamphletThumbSelected #u2092-4,#pu2070.PamphletThumbSelected #u2094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	left: 12px;
	min-height: 30px;
}

#pu2070:hover #u2094-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2004-2,#u2074-2,#u2076-2,#u2078-2,#u2080-2,#u2082-2,#u2084-2,#u2086-2,#u2088-2,#u2090-2,#u2094-2
{
	padding-top: 5px;
}

#pu2003 #u2004-4,#pu2001 #u2074-4,#pu1999 #u2076-4,#pu2053 #u2078-4,#pu2056 #u2080-4,#pu2058 #u2082-4,#pu2060 #u2084-4,#pu2062 #u2086-4,#pu2064 #u2088-4,#pu2066 #u2090-4,#pu2068 #u2092-4,#pu2070 #u2094-4
{
	position: relative;
	width: 180px;
	margin-right: -10000px;
	left: 12px;
}

#pu2072
{
	position: absolute;
	width: 0.01px;
	top: 479px;
	left: -12px;
}

#u2072
{
	position: absolute;
	width: 200px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu2072:hover #u2072
{
	width: 199px;
	height: 30px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2058.PamphletThumbSelected #u2058,#pu2072.PamphletThumbSelected #u2072
{
	width: 200px;
	height: 31px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u2096-4
{
	z-index: 174;
	width: 180px;
	min-height: 30px;
	background-color: transparent;
	color: #C1272D;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2072:hover #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	left: 11px;
	min-height: 30px;
}

#pu2072.PamphletThumbSelected #u2096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 12px;
	min-height: 30px;
}

#pu2072:hover #u2096-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2003.PamphletThumbSelected #u2004-4 p,#pu2001.PamphletThumbSelected #u2074-4 p,#pu1999.PamphletThumbSelected #u2076-4 p,#pu2053.PamphletThumbSelected #u2078-4 p,#pu2056.PamphletThumbSelected #u2080-4 p,#pu2058.PamphletThumbSelected #u2082-4 p,#pu2060.PamphletThumbSelected #u2084-4 p,#pu2062.PamphletThumbSelected #u2086-4 p,#pu2064.PamphletThumbSelected #u2088-4 p,#pu2066.PamphletThumbSelected #u2090-4 p,#pu2068.PamphletThumbSelected #u2092-4 p,#pu2070.PamphletThumbSelected #u2094-4 p,#pu2072.PamphletThumbSelected #u2096-4 p
{
	color: #000000;
	visibility: inherit;
	line-height: 1.4;
	text-align: center;
	padding-top: 4px;
	letter-spacing: 0px;
}

#pu2072 #u2096-4
{
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 12px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu481
{
	width: 0.01px;
	left: -88px;
	margin-top: 97px;
	position: relative;
}

#u481
{
	z-index: 58;
	width: 298px;
	position: relative;
	margin-right: -10000px;
}

#u731-8
{
	z-index: 8;
	width: 485px;
	min-height: 32px;
	margin-right: -10000px;
	left: 327px;
}

body
{
	padding-top: 38px;
	padding-bottom: 344px;
}

#page .verticalspacer
{
	clear: both;
}

form.search-form {
  border: 2px solid #b9a688;
  width: 290px;
  height: 165px;
  margin: 20px;
  padding: 20px;
}

form.search-form > div.title {
  height: 32px;
}

form.search-form > div.title span {
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  font-size: 18px;
  font-weight: 700;
  -webkit-text-size-adjust: none;
}


form.search-form > div.field {
  height: 25px;
}

form.search-form > div.field span {
  width: 85px;
  display: inline-block;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  font-size: 12px;
  font-weight: 700;
  -webkit-text-size-adjust: none;
}

form.search-form > div.field input,
form.search-form > div.field select {
  border: 1px solid #b9a688;
  height: 22px;
  width: 200px;
  box-sizing: border-box;
}

form.search-form > div.button {
  padding-left: 35px;
  margin-top: 5px;
}

form.search-form > div.button button {
  background: #b91022;
  height: 20px;
  line-height: 20px;
  color: #dbdbdb;
  width: 80px;
  margin: 10px;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

